:root {
    --cor--primaria: orange;
    --cor--secundaria: rgb(110, 2, 110);
}

body {
    background-color: black; 
    color: white;
    background-image: url(../imgs/html-5.png);
    background-repeat: no-repeat;
    

 }


 .azul{
  color: blue
 }

 .sublinhado { text-decoration: underline;
    

}

 
#maiusculo {
  text-transform: uppercase;

}
.italico {
  font-style: italic;

}
div > p {
  text-decoration: underline;
}

div + p {
  color: green;
}

div ~ p {
  text-transform: uppercase;
}

a:hover { 
  color: yellow;
}